@model IEnumerable<CarInsurance.Models.Insuree>

<h2>Admin - All Quotes</h2>

@* This table will display all the quotes for all the insurees in the database. *@
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Quote</th>
        </tr>
    </thead>
    <tbody>
        @* This foreach loop will iterate through each insuree in the database and display their first name, last name, email, and quote. *@
        @foreach (var insuree in Model)
        {
            <tr>
                <td>@insuree.FirstName</td>
                <td>@insuree.LastName</td>
                <td>@insuree.EmailAddress</td>
                <td>@insuree.Quote.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
